<!-- <app-product-list></app-product-list> -->
<!-- <app-essentials></app-essentials>
<app-electronics></app-electronics> -->
<!-- 
<app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->
 <!-- <app-user-list></app-user-list> -->

<!-- <app-employee-crud></app-employee-crud> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
 <!-- <app-student></app-student> -->

<!-- <app-employee-crudparent></app-employee-crudparent> -->

<!-- <app-employee-tc></app-employee-tc> -->

 <!-- <app-http-employee></app-http-employee>  -->

 <!-- <app-observable></app-observable> -->

<!-- <app-subject-demo2></app-subject-demo2> -->

<app-template-driven></app-template-driven>







